@import 'vars';

.swiper {
    height: 185px;
    width: 200px;
    text-align: center;
}
.floor-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    @include bebas;
    font-size: 64px;
    color: $brown;
    background-color: $white;
}


.swiper-button-next,
.swiper-button-prev {
  left: 50%;
  transform: rotate(90deg);
  transform-origin: left center;
}

.swiper-button-prev {
  top: 5px;
}

.swiper-button-next {
  top: auto;
  bottom: 5px;
}

