@mixin interRegular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
@mixin interMedium {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
@mixin interSemi {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
@mixin interBold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
//
@mixin mulishLight {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
}
@mixin mulishRegular {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}
@mixin mulishBold {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}
//
@mixin playfair {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
